p#akapit1_Gemsa{
color: #FF0000;
font-size: 1cm;
text-align: center;
}

p#akapit2_Gemsa{
color: #FF0000;
font-size: 1cm;
text-align: center;
}

#z1_Gemsa
{
font-family:serif;
color: #CD5C5C;
text-decoration: overline;
font-weight:200;
font-size:xx-small;
text-indent:30mm;
line-height:1cm;
word-spacing:12px;
letter-spacing:18mm;
}
#z2_Gemsa
{
font-family:serif;
color: #F08080;
font-style:italic;
font-weight:400;
font-size:x-large;
text-indent:30mm;
line-height:1cm;
word-spacing:12px;
letter-spacing:18mm;
}
#z3_Gemsa
{
font-family:serif;
color: #FA8072;
font-variant:small-caps;
font-weight:900;
font-size:xx-large;
text-indent:30mm;
line-height:1cm;
word-spacing:12px;
letter-spacing:18mm;
text-transform: uppercase;
}






#z4_Gemsa
{
font-family:sans-serif;
color: #FFA07A;
text-decoration: line-through;
font-weight:300;
font-size:8px;
text-indent:1cm;
line-height:1cm;
word-spacing:12px;
letter-spacing:18mm;
}
#z5_Gemsa
{
font-family:sans-serif;
color: #FF7F50;
font-style:oblique;
font-weight:600;
font-size:0.4in;
text-indent:1cm;
line-height:1cm;
word-spacing:12px;
letter-spacing:18mm;
}
#z6_Gemsa
{
font-family:sans-serif;
color: #FF6347;
font-variant:small-caps;
font-weight:800;
font-size:4em;
text-indent:1cm;
line-height:1cm;
word-spacing:12px;
letter-spacing:18mm;
text-transform: capitalize;
}